<h1>Dashboard</h1>

<div id="activities">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @activities[date] %>
      <ul class="activities-for-day">
        <% @activities[date].each do |au| %>
          <li>
            <%= link_to au.activity.name, au.activity, :title => au.description, :class => "activity activity-#{au.activity.slug}" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

